<div class="animated fadeIn">
    <div class="card-block animated fadeIn rx-relative" style="margin-left:10%; margin-right: 10%; z-index: 1; padding: 0px;">
        <div class="card">
            <!-- Form -->
            <div class="rx-floathide-form rx-isview" [hidden]="isHidden">
                <div class="card">
                    <div class="card-header">
                        <h5> In-apps </h5>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="form-group col-md-6 col-lg-6">
                                <label class="col-form-label-none">Item Id</label>
                                <input class="form-control" name="id" placeholder="Item Id ..." type="text" [disabled]="isEdit" [(ngModel)]="onerow.id">
                            </div>
                            <div class="form-group col-md-6 col-lg-6">
                                <label class="col-form-label-none">Item Name</label>
                                <input class="form-control" name="name" placeholder="Item Name ..." type="text" [(ngModel)]="onerow.name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6 col-md-6">
                                <label class="col-form-label-none">Description</label>
                                <input class="form-control" name="desc" placeholder="Description ..." type="text" [(ngModel)]="onerow.desc">
                            </div>
                            <div class="form-group col-lg-6 col-md-6">
                                <label class="col-form-label-none">Price (USD)</label>
                                <input class="form-control" name="Price" placeholder="Price ..." type="number" [(ngModel)]="onerow.price">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6 col-md-6 row">
                                <div class="col-lg-6 col-md-6">
                                    <label class="col-form-label-none">Status</label>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <label class="switch switch-text switch-pill switch-primary tright">
                                        <input type="checkbox" class="switch-input" [checked]="onerow.is_active" (change)="onerow.is_active == 1 ? onerow.is_active = 0: onerow.is_active = 1">
                                        <span class="switch-label" data-on="On" data-off="Off"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="col-lg-6 col-md-6">
                                    <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept="*.*">
                                </div>
                                <img [src]="onerow.icon" onError="this.src='./assets/img/ico_app_default.png'" style="width: 128px;" />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-primary" (click)=(save()) [hidden]="isEdit"> <i class="icon-plus"></i> OK </button>
                        <button class="btn btn-sm btn-primary" (click)=(update()) [hidden]="!isEdit"><i class="icon-check"></i> Save</button>
                        <button class="btn btn-sm btn-danger tright" (click)=(delete()) [hidden]="!isEdit"><i class="icon-trash"></i> Delete</button>
                        <button class="btn btn-sm btn-secondary tright" (click)=(cancel())><i class="icon-close"></i> Cancel</button>
                    </div>
                </div>
            </div>
            <!-- End form -->
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-4">
                    <h5>In-app items</h5>
                </div>
                <div class="col-md-8">
                    <div class="btn-group tright" dropdown>
                        <button dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle" style="margin:0px;">
                            {{app.os}} - {{app.version}} <span class="caret"></span>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                            <li role="menuitem" *ngFor="let app of apps" (click)="switchApp(app)" class="tpointer">
                                <a class="dropdown-item"> {{app.os}} - {{app.version}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-block">
            <button class="btn btn-sm btn-primary tright" (click)=(toggle())>
                <i class="icon-plus"></i> Create
            </button>
            <table class="table table-hover mb-0 table-striped fixed table-bordered">
                <thead class="thead-default">
                    <tr>
                        <th class="text-center rx-table-ico-head">Id</th>
                        <th class="text-center rx-table-ico-head">Name</th>
                        <th class="text-center rx-table-ico-head">Description</th>
                        <th class="text-center rx-table-ico-head">Price (USD)</th>
                        <th class="text-center rx-table-ico-head">Image</th>
                        <th class="text-center rx-table-ico-head">Status</th>
                        <th class="text-center rx-table-ico-head">Created</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items" style="cursor: pointer;" (click)=(onRowClick(item))>
                        <td align="center" style="vertical-align: middle;">
                            {{item.id}}
                        </td>
                        <td align="center" style="vertical-align: middle;">
                            {{item.name}}
                        </td>
                        <td align="center" style="vertical-align: middle;">
                            {{item.desc}}
                        </td>
                        <td align="center" style="vertical-align: middle;">
                            {{item.price}}
                        </td>
                        <td align="center">
                            <img [src]="getUrl(item.icon)" onError="this.src='./assets/img/ico_app_default.png'" style="width: 96px;" />
                        </td>
                        <td align="center" style="vertical-align: middle;">
                            <span class="tag tag-success" *ngIf="item.is_active">Active</span>
                            <span class="tag tag-danger" *ngIf="!item.is_active">Inactive</span>
                        </td>
                        <td align="center" style="vertical-align: middle;">
                            {{item.created_at * 1000 | date:'dd/MM/yyyy'}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>