<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav hidden-md-down">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
                <img src="assets/img/avatars/6.jpg" class="img-avatar">
                <span class="hidden-md-down">{{fullname}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" dropdownMenu aria-labelledby="simple-dropdown">
                <a class="dropdown-item" style="cursor: pointer;"><i class="icon-lock"></i> Change password</a>
                <a class="dropdown-item" style="cursor: pointer;" (click)="logout()"><i class="icon-logout"></i> Logout</a>
            </div>
        </li>
        <li class="nav-item hidden-md-down">
        </li>
    </ul>
</header>
<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-title"> Your app </li>
                <div class="col-md-12">
                    <div class="avatar">
                        <img src="/assets/img/ico_app_default.png" style="height: 24px;">
                    </div>
                    <p class="text-muted">{{appInfo.bundle_id}}</p>
                </div>
                <li class="divider"></li>
                <li class="nav-title"> Dashboard </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/overview']">
                        <i class="icon-home"></i>
                        Overview
                    </a>
                </li>
                <li class="divider"></li>
                <li class="nav-title"> Analytics </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/event']">
                        <i class="icon-event"></i> 
                        Events
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/player']">
                        <i class="icon-user"></i> 
                        Users
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/overview']">
                        <i class="icon-docs"></i> 
                        Export
                    </a>
                </li>
                <li class="divider"></li>
                <li class="nav-title"> Configuration </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/setting']">
                        <i class="icon-settings"></i> 
                        App settings
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/payment']">
                        <i class="icon-basket-loaded"></i> 
                        Payment
                    </a>
                </li>
                <li class="divider"></li>
                <li class="nav-title"> Integration </li>
                <li class="nav-item open">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/sdk']">
                        <i class="icon-pie-chart"></i> 
                        SDK Information
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/setting']">
                        <i class="icon-puzzle"></i> 
                        Integration Tests
                    </a>
                </li>
                <li class="divider"></li>
                <li class="nav-title"> Grow </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/remote']">
                        <i class="icon-fire"></i> 
                        Remote config
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Main content -->
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <breadcrumbs></breadcrumbs>
        </ol>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.conainer-fluid -->
    </main>
</div>
<footer class="app-footer">
    &copy; CoreSDK 2017 <span class="float-right">Powered by <a href="http://ecdc.vn/">CoreSDK</a> </span>
</footer>