<div class="animated fadeIn rx-relative">
    <div class="card">
        <div class="card-header">
            <h4
            class="card-title">ROI PD Report from {{dFrom | date: 'dd-MM-yyyy' }} to {{dTo |  date:'dd-MM-yyyy'}}
            </h4>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="form-group col-lg-3 col-md-6 rx-form-group">
                    <label class="col-form-label">From</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-lg-3 col-md-6 rx-form-group">
                    <label class="col-form-label">To</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-lg-3">
                    <label class="col-form-label">Source</label>
                    <select class="form-control"
                        [(ngModel)]="source" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="doAnalysis()">
                        <option *ngFor="let s of sources" [ngValue]="s"> {{s.sourcename}} </option>
                    </select>
                </div>
                <div class="form-group col-lg-3">
                    <label class="col-form-label">OS</label>
                    <select class="form-control"
                        [(ngModel)]="platform" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="doAnalysis()">
                        <option *ngFor="let p of platforms" [ngValue]="p"> {{p.name}} </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Acquisition Retention </h4>
        </div>
        <div class="card-body">
            <div class="card-body">
                <div class="chart-wrapper" style="margin: 4%">
                    <canvas baseChart class="chart" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColours" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <div class="row" style="margin-bottom: 4px;">
                <div class="col-lg-6">
                    <button type="button" class="btn btn-success">
                    <i class="icon-cloud-download"></i>
                    </button>
                </div>
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
            <table class="table table-hover mb-0 table-striped fixed table-bordered">
                <thead class="thead-default">
                    <tr>
                        <th *ngFor="let perheader of header" (click)="sort($event)" [attr.rxdata]="perheader.id" class="{{(perheader.id == paging.st_col)? 'rxsorting' : ''}} {{(paging.st_type == 1)? 'rxup' : 'rxdown'}}; rx-table-head-border">{{perheader.name}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let d of data" style="cursor: pointer;">
                        <td>{{d.date | date:'dd-MM-yyyy'}} </td>
                        <td> {{d.appName}} </td>
                        <td> {{d.source}} </td>
                        <td> {{d.os }} </td>
                        <td> {{d.install }} </td>
                        <td> {{d.rr3 }} </td>
                        <td> {{d.pd1 }} </td>
                        <td> {{d.pd3 }} </td>
                        <td> {{d.pd7 }} </td>
                        <td> {{d.pd14 }} </td>
                        <td> {{d.pd21 }} </td>
                        <td> {{d.pd30 }} </td>
                    </tr>
                    <!-- Pagination -->
                    <tr>
                        <td colspan="100%" class="rx-pagin">
                            <button class="rx-back" [disabled]="paging.pg_page <= 1" (click)="jumpPage(paging.pg_page - 1)">
                            <</button>
                            <input type="number" class="rx-cur" [(ngModel)]="paging.pg_page">
                            <button class="rx-next" [disabled]="!isnext" (click)="jumpPage(paging.pg_page + 1)">></button>
                            <span class="rx-jump" (click)="jumpPage(paging.pg_page)"><i class="icon-rocket"></i></span>
                            <select type="number" class="rx-pg-size" (ngModelChange)="resizePage($event)" [(ngModel)]="paging.pg_size">
                                <option value="10" selected>10</option>
                                <option value="50" selected>50</option>
                                <option value="100" selected>100</option>
                            </select> / page
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>