<div class="animated fadeIn rx-relative">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">ROI PD Report from {{dFrom | date: 'dd-MM-yyyy' }} to {{dTo |  date:'dd-MM-yyyy'}}</h5>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="form-group col-lg-6 col-md-6">
                    <label class="col-form-label">From</label>
                    <input type="text" class="form-control" [minDate]="dMin" [maxDate]="dMax" #dp="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }" [(ngModel)]="dFrom">
                </div>
                <div class="form-group col-lg-6 col-md-6">
                    <label class="col-form-label">To</label>
                    <input type="text" class="form-control" [minDate]="dMin" [maxDate]="dMax" #dp="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }" [(ngModel)]="dTo">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6 col-md-6">
                    <label class="col-form-label">Source</label>
                    <select class="form-control" [(ngModel)]="source">
                        <option *ngFor="let s of sources" [ngValue]="s"> {{s.sourceid}} - [{{s.sourcename}}] </option>
                    </select>
                </div>
                <div class="form-group col-lg-6 col-md-6">
                    <label class="col-form-label">OS</label>
                    <select class="form-control" [(ngModel)]="platform">
                        <option *ngFor="let p of platforms" [ngValue]="p"> {{p.name}} </option>
                    </select>
                </div>
            </div>
            <button class="btn btn-success" (click)="doAnalysis()">Analytic</button>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <div class="card-tools">
                <select class="sel-search" [(ngModel)]="search.field">
                    <option *ngFor="let perheader of header" [hidden]="!perheader.is_search" value="{{perheader.id}}">{{perheader.name}}</option>
                </select><i class="icon-arrow-down sel-ico"></i>
                <input type="text" class="rx-cur input-search" [(ngModel)]="search.term">
                <button class="btn btn-sm btn-default btn-search" (click)="jumpPage(1)"><i class="icon-magnifier"></i></button>
                <button class="btn btn-sm btn-success"> <i class="icon-cloud-download"></i></button>
            </div>
            <table class="table table-hover mb-0 table-striped fixed table-bordered">
                <thead class="thead-default">
                    <tr>
                        <th *ngFor="let perheader of header" (click)="sort($event)" [attr.rxdata]="perheader.id" class="{{(perheader.id == paging.st_col)? 'rxsorting' : ''}} {{(paging.st_type == 1)? 'rxup' : 'rxdown'}}">{{perheader.name}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let d of data">
                        <td>{{d.date * 1000| date:'dd-MM-yyyy'}} </td>
                        <td> {{d.source}} </td>
                        <td> {{d.os }} </td>
                        <td> {{d.install }} </td>
                        <td> {{d.rr3 }}%</td>
                        <td> {{d.pd1 }} </td>
                        <td> {{d.pd3 }} </td>
                        <td> {{d.pd7 }} </td>
                        <td> {{d.pd14 }} </td>
                        <td> {{d.pd21 }} </td>
                        <td> {{d.pd30 }} </td>
                    </tr>
                    <!-- Pagination -->
                    <tr>
                        <td colspan="100%" class="rx-pagin">
                            <button class="rx-back" [disabled]="paging.pg_page <= 1" (click)="jumpPage(paging.pg_page - 1)">
                                <</button>
                                    <input type="number" class="rx-cur" [(ngModel)]="paging.pg_page">
                                    <button class="rx-next" [disabled]="!isnext" (click)="jumpPage(paging.pg_page + 1)">></button>
                                    <span class="rx-jump" (click)="jumpPage(paging.pg_page)"><i class="icon-rocket"></i></span>
                                    <select type="number" class="rx-pg-size" (ngModelChange)="resizePage($event)" [(ngModel)]="paging.pg_size">
                                        <option value="10" selected>10</option>
                                        <option value="50" selected>50</option>
                                        <option value="100" selected>100</option>
                                    </select> / page
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>