<div class="app flex-row align-items-center">
    <div class="container">
        <br/>
        <h1 align="center" class="display-3">RESOURCES</h1>
        <p class="lead" align="center">
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
        </p>
        <div class="row justify-content-center">
            <img src="assets/img/logo_full.png" style="height: 128px">
            <ul class="list-unstyled" style="min-height: 1280px;">
                <li class="media">
                    <img class="d-flex mr-3" src="assets/img/logo.png" style="height: 64px">
                    <div class="media-body">
                        <h6 class="mt-0 mb-1">List-based media object</h6> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </li>
                <li class="media">
                    <img class="d-flex mr-3" src="assets/img/logo.png" style="height: 64px">
                    <div class="media-body">
                        <h6 class="mt-0 mb-1">List-based media object</h6> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </li>
                <li class="media">
                    <img class="d-flex mr-3" src="assets/img/logo.png" style="height: 64px">
                    <div class="media-body">
                        <h6 class="mt-0 mb-1">List-based media object</h6> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </li>
                <li class="media">
                    <img class="d-flex mr-3" src="assets/img/logo.png" style="height: 64px">
                    <div class="media-body">
                        <h6 class="mt-0 mb-1">List-based media object</h6> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </li>
                <li class="media">
                    <img class="d-flex mr-3" src="assets/img/logo.png" style="height: 64px">
                    <div class="media-body">
                        <h6 class="mt-0 mb-1">List-based media object</h6> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </li>
                <li class="media">
                    <img class="d-flex mr-3" src="assets/img/logo.png" style="height: 64px">
                    <div class="media-body">
                        <h6 class="mt-0 mb-1">List-based media object</h6> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </li>
                <li class="media">
                    <img class="d-flex mr-3" src="assets/img/logo.png" style="height: 64px">
                    <div class="media-body">
                        <h6 class="mt-0 mb-1">List-based media object</h6> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </li>
                <li class="media">
                    <img class="d-flex mr-3" src="assets/img/logo.png" style="height: 64px">
                    <div class="media-body">
                        <h6 class="mt-0 mb-1">List-based media object</h6> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </li>
                <li class="media">
                    <img class="d-flex mr-3" src="assets/img/logo.png" style="height: 64px">
                    <div class="media-body">
                        <h6 class="mt-0 mb-1">List-based media object</h6> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </li>
                <li class="media">
                    <img class="d-flex mr-3" src="assets/img/logo.png" style="height: 64px">
                    <div class="media-body">
                        <h6 class="mt-0 mb-1">List-based media object</h6> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<app-footer></app-footer>