<div class="animated fadeIn rx-relative">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-4">
                    <h5>Player</h5>
                </div>
                <div class="col-md-8">
                    <div class="btn-group tright" dropdown>
                        <button dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle" style="margin:0px;">
                            {{app.os}} - {{app.version}} <span class="caret"></span>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                            <li role="menuitem" *ngFor="let app of apps" (click)="switchApp(app)" class="tpointer">
                                <a class="dropdown-item"> {{app.os}} - {{app.version}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-block">
            <div class="card-tools">
                <select class="sel-search" [(ngModel)]="search.field">
                    <option *ngFor="let perheader of header" [hidden]="!perheader.is_search" value="{{perheader.id}}">{{perheader.name}}</option>
                </select><i class="icon-arrow-down sel-ico"></i>
                <input type="text" class="rx-cur input-search" [(ngModel)]="search.term">
                <button class="btn btn-sm btn-default btn-search" (click)="jumpPage(1)"><i class="icon-magnifier"></i></button>
            </div>
            <table class="table table-hover mb-0 table-striped fixed table-bordered">
                <thead class="thead-default">
                    <tr>
                        <th class="text-center rx-table-ico-head"><i class="icon-user"></i></th>
                        <th *ngFor="let perheader of header" (click)="sort($event)" [attr.rxdata]="perheader.id" class="{{(perheader.id == paging.st_col)? 'rxsorting' : ''}} {{(paging.st_type == 1)? 'rxup' : 'rxdown'}}">{{perheader.name}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let perdata of data">
                        <td class="text-center">
                            <div class="avatar"><img src="{{ (perdata.icons)? conf.api_image_directory + perdata.icons : '/assets/img/avatars/1.jpg'  }}" class="img-avatar"></div>
                        </td>
                        <td>
                            <strong>{{perdata.id}}</strong>
                            <div class="small text-muted"><a href="{{perdata.storeurl}}" target="_blank">{{perdata.storeurl}}</a></div>
                        </td>
                        <td>{{perdata.username}}</td>
                        <td>{{perdata.email}}</td>
                        <td>{{perdata.created_at * 1000 | date:'dd/MM/yyyy'}}</td>
                    </tr>
                    <tr>
                        <td colspan="100%" class="rx-pagin">
                            <button class="rx-back" [disabled]="paging.pg_page <= 1" (click)="jumpPage(paging.pg_page - 1)">
                                <</button>
                                    <input type="number" class="rx-cur" [(ngModel)]="paging.pg_page">
                                    <button class="rx-next" [disabled]="!isnext" (click)="jumpPage(paging.pg_page + 1)">></button>
                                    <span class="rx-jump" (click)="jumpPage(paging.pg_page)"><i class="icon-rocket"></i></span>
                                    <select type="number" class="rx-pg-size" (ngModelChange)="resizePage($event)" [(ngModel)]="paging.pg_size">
                                        <option value="10" selected>10</option>
                                        <option value="50" selected>50</option>
                                        <option value="100" selected>100</option>
                                    </select> / page
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>