<footer class="app-footer blue center-on-small-only">
    <div class="container">
        <p class="text-muted" style="text-align:center; margin: 0px; width: 100%">
            <a href=""> Forgot password? </a> | <a href=""> Privacy Policy </a> |
            <a href=""> Help center </a> |
            <a href=""> Document </a> |
            <a href=""> Resoures </a> |
            <a href=""> Blogs </a> |
            <a href=""> Terms of Use </a> | &copy; CoreSDK 2017
        </p>
    </div>
</footer>