<footer class="app-footer blue center-on-small-only">
    <div class="container">
        <p class="text-muted" style="text-align:center; margin: 0px; width: 100%">
            <a href="#apps"> <i class="icon-home"></i> Home </a> |
            <a href="#/forgot-password"> Forgot password? </a> | 
            <a href="#privacy"> <i class="icon-shield"></i> Privacy Policy </a> |
            <a href="#help"> <i class="icon-question"></i> Help center </a> |
            <a href="#document"> <i class="icon-doc"></i> Document </a> |
            <a href="#/resources"> <i class="icon-briefcase"></i> Resoures </a> |
            <a href="#/blogs"> <i class="icon-book-open"></i> Blogs </a> |
            <a href="#/contact"> <i class="icon-envelope-letter">
                </i> Contact 
            </a> | &copy; CoreSDK 2018
        </p>
    </div>
</footer>