<footer class="app-footer blue center-on-small-only">
    <div class="container">
        <p class="text-muted" style="text-align:center; margin: 0px; width: 100%">
            <a href=""> Forgot password? </a> | 
            <a href=""> <i class="icon-shield"></i> Privacy Policy </a> |
            <a href=""> <i class="icon-question"></i> Help center </a> |
            <a href=""> <i class="icon-doc"></i> Document </a> |
            <a href=""> <i class="icon-briefcase"></i> Resoures </a> |
            <a href=""> <i class="icon-book-open"></i> Blogs </a> |
            <a href="#/contact"> <i class="icon-envelope-letter">
                </i> Contact 
            </a> | &copy; CoreSDK 2017
        </p>
    </div>
</footer>