<div class="animated fadeIn">
    <div class="card-block animated fadeIn rx-relative" style="margin-left:10%; margin-right: 10%; z-index: 1; padding: 0px;">
        <div class="card">
            <!-- Form -->
            <div class="rx-floathide-form rx-isview" [hidden]="isHidden">
                <div class="card rx-card-form">
                    <div class="card-header">
                        <h4 class="card-title">New message</h4>
                    </div>
                    <div class="card-block card-block-form">
                        <form action="" class="form-horizontal col-md-12 col-sx-12 row" method="post">
                            <div class="form-group col-md-12 rx-form-group">
                                <label class="form-control-label">Title</label>
                                <textarea name="textarea-input" rows="2" class="form-control"  placeholder="Title ..."
                                [(ngModel)]="onerow.title"></textarea>
                            </div>
                            <div class="form-group col-md-12 rx-form-group">
                                <label class="form-control-label">Body</label>
                                <textarea name="textarea-input" rows="7" class="form-control" placeholder="Message ..."
                                 [(ngModel)]="onerow.body"></textarea> 
                            </div>
                            <div class="form-group col-md-12 rx-form-group">
                                <label class="form-control-label">User Ids</label>
                                <textarea name="textarea-input" rows="2" class="form-control" placeholder="Player Ids ..."
                                [(ngModel)]="onerow.player_ids"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-primary" type="submit" (click)=(send()) [hidden]="isEdit">
                            <i class="icon-cursor"></i> Send
                        </button>
                        <button class="btn btn-sm btn-secondary" type="reset" (click)=(cancel())>
                            <i class="icon-close"></i> Cancel
                        </button>
                    </div>
                </div>
            </div>
            <!-- End form -->
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h5>Push notification</h5>
        </div>
        <div class="card-block">
            <button class="btn btn-sm btn-primary tright" (click)=(toggle())> Push </button>
            <table class="table table-hover table-outline mb-0 hidden-sm-down table-striped">
                <thead class="thead-default">
                    <tr>
                        <th *ngFor="let perheader of header" (click)="sort($event)" [attr.rxdata]="perheader.id" class="{{(perheader.id == paging.st_col)? 'rxsorting' : ''}} {{(paging.st_type == 1)? 'rxup' : 'rxdown'}}">{{perheader.name}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let msg of msgs">
                        <td>
                            {{msg.title}}
                        </td>
                        <td>
                            {{msg.body}}
                        </td>
                        <td>
                            <div>{{msg.created_at * 1000 | date:'dd/MM/yyyy HH:mm:ss'}}</div>
                        </td>
                        <td>
                            <span class="tag tag-success" *ngIf="msg.status == 'done'">Done</span>
                            <span class="tag tag-danger" *ngIf="msg.status == 'waiting'">Waiting</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>