<app-header></app-header>
<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-title"> Report </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/arm']">
                        <i class="icon-pie-chart"></i> 
                        ARM Report
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/armpd']">
                        <i class="icon-chart"></i> 
                        ARM PD Report
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/roi']">
                        <i class="icon-pie-chart"></i> 
                        ROI Report
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/roipd']">
                        <i class="icon-chart"></i> 
                        ROI PD Report
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/cohort']">
                        <i class="icon-pie-chart"></i> 
                        Cohort
                        <span class="badge badge-primary">NEW</span>
                    </a>
                </li>
                <li class="divider"></li>
                <li class="nav-title"> Admin </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/sourceslist']">
                        <i class="icon-pie-chart"></i> 
                        Source List
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/metric']">
                        <i class="icon-pie-chart"></i> 
                        Metric Mobile
                    </a>
                </li>
                <li class="divider"></li>
                <li class="nav-title"> Configuration </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/player']">
                        <i class="icon-user"></i> 
                        Player
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/payment']">
                        <i class="icon-basket-loaded"></i> 
                        In-App
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/telco']">
                        <i class="icon-credit-card"></i> 
                        Telco
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/setting']">
                        <i class="icon-settings"></i> 
                        Setting
                    </a>
                </li>
                <li class="divider"></li>
                <li class="nav-title"> Grow </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/notification']">
                        <i class="icon-fire"></i> 
                        Push notification
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <main class="main">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>
<footer class="app-footer">
    &copy; CoreSDK 2017 <span class="float-right">Powered by <a href="http://ecdc.vn/">CoreSDK</a> </span>
</footer>