<app-header></app-header>
<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-title"> Report </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/report-arm']">
                        <i class="icon-graph"></i> 
                        ARM Report
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/report-armpd']">
                        <i class="icon-chart"></i> 
                        ARM PD Report
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/report-roi']">
                        <i class="icon-pie-chart"></i> 
                        ROI Report
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/report-roipd']">
                        <i class="icon-chart"></i> 
                        ROI PD Report
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/report-cohort']">
                        <i class="icon-pie-chart"></i> 
                        Cohort
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/report-kpi']">
                        <i class="icon-pie-chart"></i> 
                        KPI Report
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/report-ads']">
                        <i class="icon-ghost"></i> 
                        Ads Report
                    </a>
                </li>
                <li class="divider"></li>
                <li class="nav-title"> Admin </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/report-ads-performance']">
                        <i class="icon-speedometer"></i> 
                        Campaign Ads
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/campaign']">
                        <i class="icon-layers"></i> 
                        Campaign
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/sourceslist']">
                        <i class="icon-folder-alt"></i> 
                        Source
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/metric']">
                        <i class="icon-key"></i> 
                        Metric
                    </a>
                </li>
                <li class="divider"></li>
                <li class="nav-title"> Configuration </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/setting']">
                        <i class="icon-settings"></i> 
                        Setting
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/player']">
                        <i class="icon-user"></i> 
                        Player
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/in-app']">
                        <i class="icon-basket-loaded"></i> 
                        In-App
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/telco']">
                        <i class="icon-credit-card"></i> 
                        Telco
                    </a>
                </li>
                <li class="divider"></li>
                <li class="nav-title"> Grow </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/apps/admin/notification']">
                        <i class="icon-fire"></i> 
                        Push notification
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <main class="main">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>
<footer class="app-footer">
    &copy; CoreSDK 2017 <span class="float-right">Powered by <a href="http://ecdc.vn/">CoreSDK</a> </span>
</footer>