th{
	text-align: center;
}
tr > td {
	text-align: right;	
}
.card-title {
    margin-bottom: 0;
}
.rxsorting.rxdown:after {
	right: 5%;
}
.rxsorting.rxup:after {
	right: 5%;
}
.card-tools {
    margin-top: 0px;
    margin-bottom: 1em;
}
.card-tools .btn-search {
    margin-right: 0px;
}
.card-block {
	padding: 1rem;
}