<app-header></app-header>
<div class="animated fadeIn rx-relative">
    <div class="row" style="margin-top: 64px; margin-right: 1%; margin-left: 1%">
        <div class="col-md-6">
            <div class="app flex-row align-items-center" class="col-md-12">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="input-prepend input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i>
                        </span>
                            <input id="prependedInput" class="form-control" size="16" type="text" placeholder="App Name, Package name, Bundle Id">
                            <span class="input-group-btn">
                            <button class="btn btn-info" type="button"> <i class="icon-magnifier"></i> Search</button>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary" type="button" style="float: right;" (click)=(toggle())>
                <i class="icon-plus"></i> New app
            </button>
        </div>
    </div>
</div>
<div class="card-block animated fadeIn rx-relative" style="margin-left:10%; margin-right: 10%; z-index: 1; padding: 0px;">
    <div class="card">
        <!-- Form -->
        <div class="rx-floathide-form rx-isview" [hidden]="isHidden">
            <div class="card rx-card-form">
                <div class="card-header">
                    <h4 class="card-title">New app</h4>
                    <p class="text-muted">Add the app for which you want to track attribution and events <a href=""> Learn more </a> </p>
                </div>
                <div class="card-block card-block-form">
                    <form action="" class="form-horizontal col-md-10 col-sx-12 row" method="post">
                        <div class="form-group col-md-6 rx-form-group">
                            <label class="form-control-label">App Name</label>
                            <input class="form-control" name="name" placeholder="App Name ..." type="text" [(ngModel)]="onerow.name">
                        </div>
                        <div class="form-group col-md-6 rx-form-group">
                            <label class="form-control-label">Description</label>
                            <input class="form-control" name="desc" placeholder="Description ..." type="text" [(ngModel)]="onerow.desc">
                        </div>
                        <div class="form-group col-md-6 rx-form-group">
                            <label class="form-control-label">
                                Platform</label>
                            <br/>
                            <input type="radio" name="platform" value="ios" style="cursor: pointer;" [(ngModel)]="onerow.platform"> <i class="fa fa-apple fa-lg m-t-2 rx-apple"></i> iOS
                            <input type="radio" name="platform" value="android" style="cursor: pointer;" [(ngModel)]="onerow.platform"> <i class="fa fa-android fa-lg m-t-2 rx-android"></i> Android
                        </div>
                        <div class="form-group col-md-6 rx-form-group">
                            <label class="form-control-label">
                                Package name/ Bundle Id</label>
                            <br/>
                            <input class="form-control" name="bundle_id" placeholder="Package Name/ Bundle Id ..." type="text" [(ngModel)]="onerow.bundle_id">
                        </div>
                        <div class="form-group col-md-6 rx-form-group">
                            <label class="form-control-label">Store Url</label>
                            <input class="form-control" name="storeUrl" placeholder="Store Url ..." type="text" [(ngModel)]="onerow.storeUrl">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm btn-primary" type="submit" (click)=(newApp())>
                        <i class="fa fa-dot-circle-o"></i> Save </button>
                    <button class="btn btn-sm btn-danger" type="reset" (click)=(cancel())><i class="fa fa-ban"></i> Cancel</button>
                </div>
            </div>
        </div>
        <!-- End form -->
    </div>
</div>
<div class="card-block animated fadeIn rx-relative" style="z-index: 0; min-height: 1280px;">
    <h5> Your apps </h5>
    <p class="text-muted">Click to see more details</p>
    <table class="table table-hover table-outline mb-0 hidden-sm-down table-striped" [hidden]="apps.length < 1">
        <thead class="thead-default">
            <tr>
                <th class="text-center rx-table-ico-head" style="vertical-align:middle;"><i class="icon-game-controller"></i></th>
                <th class="text-center rx-table-ico-head" style="vertical-align:middle;">App Id</th>
                <th class="text-center rx-table-ico-head" style="vertical-align:middle;">Name</th>
                <th class="text-center rx-table-ico-head" style="vertical-align:middle;">Bundle Id
                    <br/>Package Name</th>
                <th class="text-center rx-table-ico-head" style="vertical-align:middle;">Platform</th>
                <th class="text-center rx-table-ico-head" style="vertical-align:middle;">Created</th>
                <th class="text-center rx-table-ico-head" style="vertical-align:middle;">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let app of apps" style="cursor: pointer;" (click)=(onItemClick(app))>
                <td class="text-center">
                    <div class="avatar">
                        <img [src]="getUrl(app.icon)" 
                            class="img-avatar"
                            onError="this.src='./assets/img/ico_app_default.png'" 
                            style="width: 64px; height: 64px;" />
                    </div>
                </td>
                <td align="center">
                    {{app._id}}
                </td>
                <td align="center">
                    <strong>{{app.name}}</strong>
                </td>
                <td align="center">
                    {{app.bundle_id}}
                </td>
                <td align="center"><i [hidden]="app.platform != 'android'" class="fa fa-android fa-lg m-t-2 rx-android"></i>
                    <i [hidden]="app.platform == 'android'" class="fa fa-apple fa-lg m-t-2 rx-apple"></i> {{app.platform}}
                </td>
                <td align="center">
                    <div class="small">{{app.created_at * 1000 | date:'dd/MM/yyyy HH:mm:ss'}}</div>
                </td>
                <td align="center">
                    <span class="tag tag-success" [hidden]="!(app.is_active || 0)">Active</span>
                    <span class="tag tag-default" [hidden]="(app.is_active || 0)">Inactive</span>
                    <span class="tag tag-danger" [hidden]="!(app.is_deleted || 0)">Deleted</span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="card" [hidden]="apps.length > 0">
        <div class="card-header">
            There are no apps
        </div>
        <div class="card-body" style="margin:2%">
            Make new app to join big CoreSDK society
        </div>
    </div>
</div>
<app-footer></app-footer>