<div class="animated fadeIn rx-relative">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Sources</h5>
        </div>
        <div class="card-block">
            <table class="table table-hover mb-0 table-striped fixed table-bordered">
                <thead class="thead-default">
                    <tr>
                        <th *ngFor="let perheader of header" class="text-center rx-table-ico-head">{{perheader.name}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let d of data">
                        <td align="center" style="vertical-align: middle;">{{d.sourcename}}</td>
                        <td align="center" style="vertical-align: middle;">{{d.sourceid}}</td>
                        <td align="center" style="vertical-align: middle;">{{d.action}}</td>
                        <td align="center" style="vertical-align: middle;">
                            <span class="tag tag-success" *ngIf="!d.is_delete">Active</span>
                            <span class="tag tag-danger" *ngIf="d.is_delete">Inactive</span>
                        </td>
                        <td align="center" style="vertical-align: middle;">
                            {{d.created_at * 1000 | date:'dd/MM/yyyy'}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>