.card-title{
	margin-bottom: 0;
}
.key-class{
	min-width: 320px;
}
.card-block{
	padding: 1.5rem;
}
.tpointer{
	cursor: pointer;
}
.tright{
	float: right;
}
.col-form-label-none {
	padding-top:0;
	padding-bottom:0;
    margin-bottom: 0;
}
.tIcon{
	width: 72px;
	height: 72px;
}
label{
	margin-bottom: 0px;
}