<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-4">
                    <h5>Information</h5>
                </div>
                <div class="col-md-8 col-lg-8">
                    <div class="btn-group tright" dropdown>
                        <button dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle" style="margin:0px;">
                        {{app.os}} - {{app.version}} <span class="caret"></span>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                            <li role="menuitem" *ngFor="let app of apps" (click)="switchApp(app)" class="tpointer">
                                <a class="dropdown-item"> {{app.os}} - {{app.version}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-block">
            <div class="form-group row">
                <div class="col-md-3 col-lg-3 tBoxWrapper">
                    <label class="col-form-label"><span class="badge badge-pill badge-primary">App ICON</span></label>
                    <label for="imageUpload1" class="col-form-label btn btn-outline-primary tBottomButton" style="background: #fff">
                        <i class="icon-cloud-upload"> </i>
                    </label>
                    <input id = "imageUpload1" type="file" (change)="fileChanged($event, 0)" 
                    placeholder="Upload file" accept="image/*" style="display: none">
                    <img [src]="getUrl(appInfo.icon)" (error)="onImageLoadedError($event)" class="tIconX2 tCenterImage" />
                </div>
                <div class="col-md-3 col-lg-3"></div>
                <div class="col-md-3 col-lg-3 tBoxWrapper">
                    <label class="col-form-label"><span class="badge badge-pill badge-primary">App LOGO</span></label>
                    <label for="imageUpload2" class="btn btn-outline-primary tBottomButton" style="background: #fff">
                        <i class="icon-cloud-upload"></i>
                    </label>
                    <input id = "imageUpload2" type="file" (change)="fileChanged($event, 1)"
                    placeholder="Upload file" accept="image/*" style="display: none">
                    <img [src]="getUrl(appInfo.logo)" (error)="onImageLoadedError($event)" class="tIconX2 tCenterImage" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-6 col-md-6">
                    <label class="col-form-label">Application Id</label>
                    <input class="form-control" type="text" disabled value="{{appInfo._id}}" readonly="readonly">
                </div>
                <div class="col-lg-6 col-md-6">
                    <label class="col-form-label">Application Key</label>
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <input class="form-control" type="text" disabled value="{{appInfo.key}}" readonly="readonly">
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <button class="btn btn-sm btn-danger tright" type="submit">
                            <i class="icon-refresh"></i> Reset
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <label class="col-form-label-none">Enable app</label>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <label class="switch switch-text switch-pill switch-info tright">
                                <input type="checkbox" class="switch-input" [checked]="appInfo.is_active" (change)=(onStatusChange())>
                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <label class="col-form-label-none">Basic authorization</label>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <label class="switch switch-text switch-pill switch-info tright">
                                <input type="checkbox" class="switch-input" [(ngModel)]="appInfo.settings.is_formal_auth_enable" (change)=(update())>
                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <label class="col-form-label-none">Quick play</label>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <label class="switch switch-text switch-pill switch-info tright">
                                <input type="checkbox" class="switch-input" [(ngModel)]="appInfo.settings.is_quickplay_enable" (change)=(update())>
                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <label class="col-form-label-none">In-app purchase</label>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <label class="switch switch-text switch-pill switch-info tright">
                                <input type="checkbox" class="switch-input" [(ngModel)]="appInfo.settings.is_inapp_purchase_enable" (change)=(update())>
                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <label class="col-form-label-none">Facebook authorization</label>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <label class="switch switch-text switch-pill switch-info tright">
                                <input type="checkbox" class="switch-input" [(ngModel)]="appInfo.settings.is_facebook_auth_enable" (change)=(update())>
                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <label class="col-form-label-none">Google authorization</label>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <label class="switch switch-text switch-pill switch-info tright">
                                <input type="checkbox" class="switch-input" [(ngModel)]="appInfo.settings.is_google_auth_enable" (change)=(update())>
                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <label class="col-form-label-none">Card purchase</label>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <label class="switch switch-text switch-pill switch-info tright">
                                <input type="checkbox" class="switch-input" [(ngModel)]="appInfo.settings.is_card_purchase_enable" (change)=(update())>
                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <label class="col-form-label-none" style="vertical-align: middle;">Force update</label>
                        </div>
                        <div class="col-lg-5 col-md-5">
                            <input class="form-control" type="text" style="vertical-align: middle;" [(ngModel)]="appInfo.force_update_url">
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <button class="btn btn-primary btn-sm" (click)="update()"><i class="icon-check"></i> Save</button>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <label class="switch switch-text switch-pill switch-info tright" style="vertical-align: middle;">
                                <input type="checkbox" class="switch-input" [(ngModel)]="appInfo.settings.is_force_update" (change)=(update())>
                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <span class="badge badge-warning">Basic Config</span>
            <div class="row">
                <div class="col-md-3 col-lg-3">
                    <label class="col-form-label">BundleId/Package name</label>
                    <input class="form-control" type="text" name="bundle_id" [(ngModel)]="appInfo.bundle_id">
                </div>
                <div class="col-md-3 col-lg-3">
                    <label class="col-form-label">Name</label>
                    <input class="form-control" type="text" name="name" [(ngModel)]="appInfo.name">
                </div>
                <div class="col-md-3 col-lg-3">
                    <label class="col-form-label">Description</label>
                    <input class="form-control" placeholder="Description" type="text" name="desc" [(ngModel)]="appInfo.desc">
                </div>
                <div class="col-md-3 col-lg-3">
                    <label class="col-form-label">Store URL</label>
                    <input class="form-control" type="text" name="storeurl" placeholder="Storeurl" [(ngModel)]="appInfo.storeurl">
                </div>
                <div class="col-md-3 col-lg-3">
                    <label class="col-form-label">App version</label>
                    <input class="form-control" type="text" name="version" [(ngModel)]="appInfo.version">
                </div>
                <div class="col-md-3 col-lg-3">
                    <label class="col-form-label">Support URL</label>
                    <input class="form-control" type="text" name="version" [(ngModel)]="appInfo.support_url">
                </div>
            </div>
            <hr/>
            <span class="badge badge-primary">Facebook Config</span>
            <div class="row">
                <div class="col-md-3 col-lg-3">
                    <label class="col-form-label">Facebook App Id</label>
                    <input class="form-control" type="text" name="version" [(ngModel)]="appInfo.facebook_app_id">
                </div>
                <div class="col-md-3 col-lg-3">
                    <label class="col-form-label">Facebook App Secret</label>
                    <input class="form-control" type="text" name="version" [(ngModel)]="appInfo.facebook_app_secret">
                </div>
                <div class="col-md-3 col-lg-3">
                    <label class="col-form-label">Facebook Access Token</label>
                    <input class="form-control" type="text" name="version" [(ngModel)]="appInfo.facebook_access_token">
                </div>
            </div>
            <hr/>
            <span class="badge badge-dark">Appsflyer Config</span>
            <div class="row">
                <div class="col-md-3 col-lg-3">
                    <label class="col-form-label">Appsflyer Id</label>
                    <input class="form-control" type="text" name="version" [(ngModel)]="appInfo.appsflyer_id">
                </div>
                <div class="col-md-3 col-lg-3">
                    <label class="col-form-label">Appsflyer Key</label>
                    <input class="form-control" type="text" name="version" [(ngModel)]="appInfo.appsflyer_key">
                </div>
                <div class="col-md-3 col-lg-3">
                    <label class="col-form-label">Mopub Ad Id</label>
                    <input class="form-control" type="text" name="version" [(ngModel)]="appInfo.mopub_ad_unit_id">
                </div>
                <div class="col-md-3 col-lg-3">
                    <label class="col-form-label">Store Id</label>
                    <input class="form-control" type="text" name="version" [(ngModel)]="appInfo.store_id">
                </div>
                <div class="col-md-3 col-lg-3">
                    <label class="col-form-label">AppsFlyer API Token</label>
                    <input class="form-control" type="text" name="version" [(ngModel)]="appInfo.appsflyer_api_token">
                </div>
            </div>
            <hr/>
            <span class="badge badge-success">Google IAP Verification</span>
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <label class="col-form-label">Google Client Id</label>
                    <input class="form-control" type="text" name="version" [(ngModel)]="appInfo.google_client_id">
                </div>
                <div class="col-md-4 col-lg-4">
                    <label class="col-form-label">Google Client Secret</label>
                    <input class="form-control" type="text" name="version" [(ngModel)]="appInfo.google_client_secret">
                </div>
                <div class="col-md-4 col-lg-4">
                    <label class="col-form-label">Google Refresh Token Id</label>
                    <input class="form-control" type="text" name="version" [(ngModel)]="appInfo.google_refresh_token">
                </div>
            </div>
            <hr/>
            <span class="badge badge-info">Google Auth Verification</span>
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <label class="col-form-label">Auth Google Client Id</label>
                    <input class="form-control" type="text" name="version" [(ngModel)]="appInfo.auth_google_client_id">
                </div>
            </div>
            <hr/>
            <span class="badge badge-success">Firebase FCM</span>
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <label class="col-form-label">FCM Database Url</label>
                    <input class="form-control" type="text" name="version" [(ngModel)]="appInfo.fcm_database_url">
                </div>
                <div class="col-md-4 col-lg-4">
                    <label class="col-form-label">FCM Private File</label>
                    <label for="imageUpload3" class="col-form-label btn btn-outline-primary" style="background: #fff">
                        <i class="icon-cloud-upload"> </i>
                    </label>
                    <input id = "imageUpload3" type="file" (change)="fileChanged($event, 3)" 
                    placeholder="Upload file" accept="*/*" style="display: none">
                    <input class="form-control"  disabled="true" type="text" name="version" [(ngModel)]="appInfo.fcm_private_file">
                </div>
            </div>
            <hr/>
            <span class="badge badge-success">APNS Config</span>
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <label class="col-form-label">APNS Key Id</label>
                    <input class="form-control" type="text" name="version" [(ngModel)]="appInfo.apns_key_id">
                </div>
                <div class="col-md-4 col-lg-4">
                    <label class="col-form-label">APNS Team Id</label>
                    <input class="form-control" type="text" name="version" [(ngModel)]="appInfo.apns_team_id">
                </div>
                <div class="col-md-4 col-lg-4">
                    <label class="col-form-label">APNS Private File</label>
                    <label for="imageUpload3" class="col-form-label btn btn-outline-primary" style="background: #fff">
                        <i class="icon-cloud-upload"> </i>
                    </label>
                    <input id = "imageUpload3" type="file" (change)="fileChanged($event, 4)" 
                    placeholder="Upload file" accept="*/*" style="display: none">
                    <input class="form-control"  disabled="true" type="text" name="version" [(ngModel)]="appInfo.apns_private_file">
                </div>
            </div>
            <hr/>
            <span class="badge badge-info">Google Auth Verification</span>
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <label class="col-form-label">Auth Google Client Id</label>
                    <input class="form-control" type="text" name="version" [(ngModel)]="appInfo.auth_google_client_id">
                </div>
            </div>
            <hr/>
            <span class="badge badge-danger">100D Secret</span>
            <div class="row">
                <div class="col-md-3 col-lg-3">
                    <label class="col-form-label">Authorization Secret</label>
                    <input class="form-control" type="text" name="version" [(ngModel)]="appInfo.authorization_secret">
                </div>
                <div class="col-md-3 col-lg-3">
                    <label class="col-form-label">Verify Authorization Secret</label>
                    <input class="form-control" type="text" name="version" [(ngModel)]="appInfo.verify_authorization_secret">
                </div>
                <div class="col-md-3 col-lg-3">
                    <label class="col-form-label">Agent</label>
                    <input class="form-control" type="text" name="version" [(ngModel)]="appInfo.pp_agent">
                </div>
                <div class="col-md-3 col-lg-3">
                    <label class="col-form-label">Secret</label>
                    <input class="form-control" type="text" name="version" [(ngModel)]="appInfo.pp_secret">
                </div>
                <div class="col-md-3 col-lg-3">
                    <label class="col-form-label">Key</label>
                    <input class="form-control" type="text" name="version" [(ngModel)]="appInfo.pp_key">
                </div>
                <div class="col-md-3 col-lg-3">
                    <label class="col-form-label">Encrypt Key</label>
                    <input class="form-control" type="text" name="version" [(ngModel)]="appInfo.pp_encrypt_key">
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-primary tright" (click)="update()"><i class="icon-check"></i> Save </button>
            <button class="btn btn-sm btn-danger tright" (click)="delete()"><i class="fa fa-trash-o"></i> Delete </button>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <h5 class="card-title">Promote Images
                    <span class="badge badge-danger">{{appInfo.promote_images.length}}</span>
                    </h5>
                </div>
                <div class="col-lg-6 col-md-6">
                    <label for="imageUpload3" class="col-form-label btn btn-outline-primary tright" style="margin: 0;">
                        <i class="icon-cloud-upload"> </i> Upload Promo Image
                    </label>
                    <input id="imageUpload3" class="tright" type="file" (change)="fileChanged($event, 2)" 
                    placeholder="Upload" accept="image/*" style="display: none;">
                </div>
            </div>
        </div>
        <div class="card-block">
            <div class="row form-group promote_images_wrapper" *ngFor="let item of appInfo.promote_images; let i=index">
                <div class="col-lg-2 col-md-2 tBoxWrapper">
                    <button class="btn btn-danger tBottomButton" (click)="deletePromoteImage(i)">
                        <i class="icon-trash"></i>
                    </button>
                    <img class="promote_image tCenterImage" [src]="getUrl(item.image)" (error)="onImageLoadedError($event)"/>
                </div>
                <div class="col-md-10 col-lg-10">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <label class="col-form-label">Title</label>
                            <input class="form-control" type="text" name="version" [(ngModel)]="item.title">
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <label class="col-form-label">Redirect URL</label>
                            <input class="form-control" type="text" name="redirecturl" placeholder="Redirect URL"
                            [(ngModel)]="item.click_url">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-primary tright" (click)="update()"><i class="icon-check"></i> Save </button>
        </div>
    </div>
    
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Reward videos</h5>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="radio" *ngFor="let entry of entries;">
                        <input type="radio" name="radiogroup" class="tpointer" (change)="onSelectionChange(entry)" [checked]="appInfo.video_reward_filter_type === entry.filter_type" [value]="entry.filter_type"> {{ entry.name }}
                    </div>
                    <br/>
                    <textarea [(ngModel)]="playerIds" class="form-control" placeholder="Player ids ..." rows="5" [hidden]="!isImportAreaShow"></textarea>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <button class="btn btn-sm btn-success tright" type="submit" (click)="import()">
                    <i class="fa fa-clone"></i> Import
                    </button>
                </div>
            </div>
            <hr/>
            <div [hidden]="!isImportAreaShow">
                <div class="card-tools">
                    <select class="sel-search" [(ngModel)]="search.field">
                        <option *ngFor="let perheader of header" [hidden]="!perheader.is_search" value="{{perheader.id}}">{{perheader.name}}</option>
                    </select><i class="icon-arrow-down sel-ico"></i>
                    <input type="text" class="rx-cur input-search" [(ngModel)]="search.term">
                    <button class="btn btn-sm btn-default btn-search" (click)="jumpPage(1)"><i class="icon-magnifier"></i></button>
                    <button class="btn btn-sm btn-danger" type="button" (click)="deleteAll()">
                    <i class="icon-trash "></i> Delete All
                    </button>
                </div>
                <table class="table table-hover mb-0 table-striped fixed table-bordered">
                    <thead class="thead-default">
                        <tr>
                            <th *ngFor="let perheader of header" (click)="sort($event)" [attr.rxdata]="perheader.id" class="{{(perheader.id == paging.st_col)? 'rxsorting' : ''}} {{(paging.st_type == 1)? 'rxup' : 'rxdown'}}">{{perheader.name}}</th>
                            <th class="tMiddle">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of dataIds">
                            <td>{{d.player_id._id}}</td>
                            <td>{{d.player_id.email}}</td>
                            <td>{{d.player_id.username}}</td>
                            <td class="text-center tMiddle">
                                <button class="btn btn-sm btn-danger" type="button" (click)="deleteAd($event, d)">
                                <i class="icon-trash "></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="100%" class="rx-pagin">
                                <button class="rx-back" [disabled]="paging.pg_page <= 1" (click)="jumpPage(paging.pg_page - 1)">
                                <</button>
                                <input type="number" class="rx-cur" [(ngModel)]="paging.pg_page">
                                <button class="rx-next" [disabled]="!isnext" (click)="jumpPage(paging.pg_page + 1)">></button>
                                <span class="rx-jump" (click)="jumpPage(paging.pg_page)"><i class="icon-rocket"></i></span>
                                <select type="number" class="rx-pg-size" (ngModelChange)="resizePage($event)" [(ngModel)]="paging.pg_size">
                                    <option value="10" selected>10</option>
                                    <option value="50" selected>50</option>
                                    <option value="100" selected>100</option>
                                </select> / page
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>