.key-class{
	min-width: 320px;
}
.card-block{
	padding: 1.5rem;
}
.col-form-label-none {
	padding-top:0;
	padding-bottom:0;
    margin-bottom: 0;
}
.tIcon{
	width: 72px;
	height: 72px;
}
.tIconX2{
	width: 172px;
	height: 172px;
}
label{
	margin-bottom: 0px;
}
.tBoxWrapper{
	position: relative;
}
.tBottomButton{
	position: absolute;
	bottom:0;
	right:15px;
	z-index: 2;
	
}
.tCenterImage{
	float: right;
	z-index:1;
}
.promote_images_wrapper {
	/* overflow: hidden;
	height: 256px; */
}
.promote_image {
	width: 100%; 
	height: auto;
}
.promote_image_top_right_corner{
	position:absolute;
	top:0;
	right:0;
	margin-top:0 !important;
 }
 .promote_images_top{
	
 }
 .promote_images_bottom{
 	
 }