<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card-group mb-0">
                    <div class="card">
                        <div class="card-header">
                            <p align="center" class="card-title"> <strong>CHANGE PASSWORD</strong></p>
                            <img src="../assets/img/logo.png"
                            style="height: 64px; margin-left: auto; margin-right: auto; display: block;">
                        </div>
                        <div class="card-block" (keydown)="keyDownFunction($event)" *ngIf="!checksuccess">
                            <p class="text-muted" align="center">
                                Changing your password will sign you out of all your devices, including your phone. You will need to enter your new password on all your devices.
                            </p>
                            <div class="input-group mb-1">
                                <span class="input-group-addon"><i class="fa icon-key"></i></span>
                                <input type="password" class="form-control" placeholder="Current Password" [(ngModel)]="model.currentpassword">
                            </div>
                            <div class="input-group mb-1">
                                <span class="input-group-addon"><i class="fa icon-key"></i></span>
                                <input type="password" class="form-control" placeholder="New password" [(ngModel)]="model.newpassword">
                            </div>
                            <div class="input-group mb-1">
                                <span class="input-group-addon"><i class="fa icon-key"></i></span>
                                <input type="password" class="form-control" placeholder="Confirm new password" [(ngModel)]="model.confirmnewpassword">
                            </div>
                            <button type="button" class="btn btn-info btn-block" (click)="clicked()">
                            Change Password
                            </button>
                        </div>
                        <div class="card-block" (keydown)="keyDownFunction($event)" *ngIf="checksuccess">
                            <p align="center">
                                Your password has been changed successfully
                            </p>
                        </div>
                        <div class="card-footer">
                            <p align="center">
                                <a href="#/groups">
                                    Back to Home
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>