<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-2">
                    <div class="card-block p-2">
                        <img src="../assets/img/favicon.png" alt="../assets/img/favicon.png"
                        style="height: 72px; margin-left: auto; margin-right: auto; display: block;">
                        <h2 align="center">CoreSDK</h2>
                        <p class="text-muted" align="center">Create your account. It's free and always will be. 
                            <a href="">Learn more</a>
                        </p>
                        <div class="input-group mb-1">
                            <span class="input-group-addon"><i class="icon-user"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="Username" [(ngModel)]="model.username">
                        </div>
                        <div class="input-group mb-1">
                            <span class="input-group-addon">@</span>
                            <input type="text" class="form-control" placeholder="Email address" [(ngModel)]="model.email">
                        </div>
                        <div class="input-group mb-1">
                            <span class="input-group-addon"><i class="icon-lock-open"></i>
                            </span>
                            <input type="password" class="form-control" placeholder="Password" [(ngModel)]="model.password">
                        </div>
                        <div class="input-group mb-2">
                            <span class="input-group-addon"><i class="icon-lock"></i>
                            </span>
                            <input type="password" class="form-control" placeholder="Confirm password" [(ngModel)]="model.repassword">
                        </div>
                        <button type="button" class="btn btn-block btn-success" (click)=register() >Create an account</button>
                        <p class="text-muted" align="center">Already have account. 
                            <a routerLinkActive="active" [routerLink]="['/login']">Login?</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>