<div class="animated fadeIn">
  <div class="card">
      <div class="card-header">
        Search &amp; Suggest
      </div>
      <div class="card-block">          
          <div class="row">
            <div class="col-md-12">
            <h4 class="card-title">Việt Nam</h4>
            <div class="small text-muted" style="margin-top:-10px;">Suggest List 03/2017</div>
            <br/>
              <ul class="icons-list rx-meta-string">
                <div class="rx-meta-stringdetail" *ngFor="let perdata of data" (click)="viewSuggestionDetail(perdata)">
                    <i class="bg-primary bg-letter-a">{{perdata.search}}</i>
                    <div class="desc">{{helpUpperCaseAfterCommas(perdata.metastring)}}</div>
                    <div class="rx-detail-lev2">
                      <div *ngFor="let detail of perdata.details">
                        <b>{{ detail.search }}</b> {{helpUpperCaseAfterCommas(detail.metastring)}}
                      </div>
                    </div>                    
                </div>
              </ul>
            </div>
          </div>
      </div>
  </div>
</div>