<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            App Settings
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-md-12">
                    <label>Your App Id <i class="icon-info"></i></label>
                    <p class="small text-muted">Use the SDK Key to setup the CoreSDK
                        <form class="form-inline">
                            <input class="form-control mb-2 mr-sm-2 mb-sm-0 key-class" type="text" name="id"
                            disabled 
                            [(ngModel)] = "appInfo._id" readonly="readonly">
                        </form>
                    </div>
                    <div class="col-md-12" style="margin-top: 2%">
                        <label>Your App Key <i class="icon-info"></i></label>
                        <p class="small text-muted"> <a href="">Learn more about App Key </a>
                        <form class="form-inline">
                            <input class="form-control mb-2 mr-sm-2 mb-sm-0 key-class" type="text" name="key"
                            disabled 
                            [(ngModel)] = "appInfo.key" readonly="readonly">
                            <button class="btn btn-danger mb-2 mr-sm-2 mb-sm-0" type="submit">
                            <i class="icon-refresh"></i> Reset
                            </button>
                        </form>
                    </div>
                    <div class="col-md-12" style="margin-top: 2%">
                        <label>BundleId/Package name <i class="icon-info"></i></label>                        
                        <form class="form-inline">
                            <input class="form-control mb-2 mr-sm-2 mb-sm-0 key-class" type="text"  name ="bundle_id"
                            [(ngModel)] = "appInfo.bundle_id">
                            <button class="btn btn-success mb-2 mr-sm-2 mb-sm-0" type="submit" (click)=(update())>
                            <i class="icon-check"></i> Update
                            </button>
                        </form>
                    </div>
                    <div class="col-md-12" style="margin-top: 2%">
                        <label>Name</label>
                        <form class="form-inline">
                            <input class="form-control mb-2 mr-sm-2 mb-sm-0 key-class" type="text" name="name"
                            [(ngModel)] = "appInfo.name">
                            <button class="btn btn-success mb-2 mr-sm-2 mb-sm-0" type="submit" (click)=(update())>
                            <i class="icon-check"></i> Update
                            </button>
                        </form>
                    </div>
                    <div class="col-md-12" style="margin-top: 2%">
                        <label>Description</label>
                        <form class="form-inline">
                            <input class="form-control mb-2 mr-sm-2 mb-sm-0 key-class" type="text"  name="desc"
                            [(ngModel)] = "appInfo.desc">
                            <button class="btn btn-success mb-2 mr-sm-2 mb-sm-0" type="submit" (click)=(update())>
                            <i class="icon-check"></i> Update
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Event settings
            </div>
            <div class="card-block">
                <table class="table table-hover table-striped">
                    <tbody>
                        <tr>
                            <td>
                                Install
                            </td>
                            <td>
                                <label class="switch switch-text switch-pill switch-danger">
                                    <input type="checkbox" class="switch-input" checked="">
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Open
                            </td>
                            <td>
                                <label class="switch switch-text switch-pill switch-danger">
                                    <input type="checkbox" class="switch-input" checked="">
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Login
                            </td>
                            <td>
                                <label class="switch switch-text switch-pill switch-danger">
                                    <input type="checkbox" class="switch-input" checked="">
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Register
                            </td>
                            <td>
                                <label class="switch switch-text switch-pill switch-danger">
                                    <input type="checkbox" class="switch-input" checked="">
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Create character
                            </td>
                            <td>
                                <label class="switch switch-text switch-pill switch-danger">
                                    <input type="checkbox" class="switch-input" checked="">
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Payment
                            </td>
                            <td>
                                <label class="switch switch-text switch-pill switch-danger">
                                    <input type="checkbox" class="switch-input" checked="">
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>