<div class="animated fadeIn">
    <div class="card-block rx-floathide-form" [hidden]="isHidden">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title" [hidden]="isEdit">Create ad</h5>
                <h5 class="card-title" [hidden]="!isEdit">Edit ad</h5>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6">
                        <label class="col-form-label">Start date</label>
                        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }" [(ngModel)]="startDate">
                    </div>
                    <div class="form-group col-lg-6 col-md-6">
                        <label class="col-form-label">End date</label>
                        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }" [(ngModel)]="endDate">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3 col-lg-3">
                        <label class="col-form-label-none">Name</label>
                        <input class="form-control" name="name" placeholder="Agency Id" type="text" [(ngModel)]="onerow.name">
                    </div>
                    <div class="form-group col-md-3 col-lg-3">
                        <label class="col-form-label-none">Type</label>
                        <select class="form-control" [(ngModel)]="onerow.type">
                            <option *ngFor="let aT of adType" [value]="aT.id"> {{aT.name}} </option>
                        </select>
                    </div>
                    <div class="form-group col-md-3 col-lg-3">
                        <label class="col-form-label-none">Description</label>
                        <input class="form-control" name="description" placeholder="Description ..." type="text" [(ngModel)]="onerow.desc">
                    </div>
                    <div class="form-group col-lg-3 col-md-3">
                        <label class="col-form-label">Campaign</label>
                        <select class="form-control" [(ngModel)]="cp">
                            <option *ngFor="let cp of campaigns" [ngValue]="cp"> {{cp.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3 col-lg-3">
                        <label class="col-form-label-none">Cost</label>
                        <input class="form-control" name="cost" type="number" [(ngModel)]="onerow.cost">
                    </div>
                    <div class="form-group col-md-3 col-lg-3">
                        <label class="col-form-label-none">Utm campaign</label>
                        <input class="form-control" type="text" [(ngModel)]="onerow.utm_campaign">
                    </div>
                    <div class="form-group col-md-3 col-lg-3">
                        <label class="col-form-label-none">Utm Source</label>
                        <input class="form-control" name="name" type="text" [(ngModel)]="onerow.utm_source">
                    </div>
                    <div class="form-group col-md-3 col-lg-3">
                        <label class="col-form-label-none">Utm Medium</label>
                        <input class="form-control" name="name" type="text" [(ngModel)]="onerow.utm_medium">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3 col-lg-3">
                        <label class="col-form-label-none">Utm Term</label>
                        <input class="form-control" name="name" type="text" [(ngModel)]="onerow.utm_term">
                    </div>
                    <div class="form-group col-md-3 col-lg-3">
                        <label class="col-form-label-none">Utm content</label>
                        <input class="form-control" name="description" type="text" [(ngModel)]="onerow.utm_content">
                    </div>
                    <div class="form-group col-md-6 col-lg-6">
                        <label class="col-form-label-none">Link</label>
                        <input class="form-control" name="name" type="text" [(ngModel)]="onerow.link">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-primary" (click)=(createAd()) [hidden]="isEdit"><i class="icon-plus"></i> Create </button>
                <button class="btn btn-sm btn-primary" (click)=(update()) [hidden]="!isEdit"><i class="icon-check"></i> Save</button>
                <button class="btn btn-sm btn-secondary tright" (click)="refresh()"><i class="icon-close"></i> Cancel</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <div class="row">
                <div class="form-group col-lg-3 col-md-3">
                    <label class="col-form-label">Campaign</label>
                    <select class="form-control" [(ngModel)]="cp">
                        <option *ngFor="let cp of campaigns" [ngValue]="cp"> {{cp.name}}
                        </option>
                    </select>
                </div>
            </div>
            <button class="btn btn-success" (click)="doAnalysis()"><i class="icon-magic-wand"></i> Analytic </button>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Ads</h5>
        </div>
        <div class="card-block">
            <div class="clearfix">
                <div class="card-tools">
                    <select class="sel-search" [(ngModel)]="search.field">
                        <option *ngFor="let perheader of headers" [hidden]="!perheader.is_search" value="{{perheader.id}}">{{perheader.name}}</option>
                    </select><i class="icon-arrow-down sel-ico"></i>
                    <input type="text" class="rx-cur input-search" [(ngModel)]="search.term">
                    <button class="btn btn-sm btn-default btn-search" (click)="jumpPage(1)"><i class="icon-magnifier"></i></button>
                    <button class="btn btn-sm btn-success" (click)="show()"> <i class="icon-plus"></i> Create ad </button>
                </div>
            </div>
            <div class="tTableWraper">
                <table class="table mb-0 table-striped table-responsive-sm table-bordered">
                    <thead class="thead-inverse">
                        <tr>
                            <th *ngFor="let perheader of headers" (click)="sort($event)" [attr.rxdata]="perheader.id" class="{{(perheader.id == paging.st_col)? 'rxsorting' : ''}} {{(paging.st_type == 1)? 'rxup' : 'rxdown'}} text-center tMiddle" style="min-width: 128px">
                                {{perheader.name}}
                            </th>
                            <th class="text-center tMiddle">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ad of ads" class="tpointer" (click)="onItemClick(ad)">
                            <td>
                                {{ad.name}}
                            </td>
                            <td>
                                {{ad.desc}}
                            </td>
                            <td>{{ad.utm_source}}</td>
                            <td>{{ad.utm_medium}}</td>
                            <td>{{ad.utm_term}}</td>
                            <td>{{ad.utm_content}}</td>
                            <td>{{ad.utm_campaign}}</td>
                            <td>{{ad.link}}</td>
                            <td align="center" class="text-center tMiddle">
                                <span class="badge badge-dark" [hidden]="!(ad.type == 1)">Banner</span>
                                <span class="badge badge-info" [hidden]="!(ad.type == 2)">Facebook</span>
                                <span class="badge badge-danger" [hidden]="!(ad.type == 3)">Google</span>
                            </td>
                            <td class="tTextRight">
                                <strong> {{ ad.cost | currency:'VND':symbol:'1.0-0'}}</strong>
                            </td>
                            <td align="center" class="text-center tMiddle">
                                <div>{{ad.start_date * 1000 | date:'dd/MM/yyyy'}}</div>
                            </td>
                            <td align="center" class="text-center tMiddle">
                                <div>{{ad.end_date * 1000 | date:'dd/MM/yyyy'}}</div>
                            </td>
                            <td class="text-center tMiddle">
                                <button class="btn btn-sm btn-danger" type="button" (click)="delete($event, ad)">
                                    <i class="icon-trash "></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="100% " class="rx-pagin">
                                <button class="rx-back" [disabled]="paging.pg_page <=1 " (click)="jumpPage(paging.pg_page - 1) ">
                                    <</button>
                                        <input type="number " class="rx-cur " [(ngModel)]="paging.pg_page ">
                                        <button class="rx-next " [disabled]="!isnext " (click)="jumpPage(paging.pg_page + 1) ">></button>
                                        <span class="rx-jump " (click)="jumpPage(paging.pg_page) "><i class="icon-rocket "></i></span>
                                        <select type="number " class="rx-pg-size " (ngModelChange)="resizePage($event) " [(ngModel)]="paging.pg_size ">
                                            <option value="10 " selected>10</option>
                                            <option value="50 " selected>50</option>
                                            <option value="100 " selected>100</option>
                                        </select> / page
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>